#about {
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 15%;
  padding-right: 18%; */
  min-height: 380px;
  padding-bottom: 40px;
  width: 1000px;
}

#about::after {
  content: "";
  display: block;
  width: 98%;
  height: 1px;
  background-color: #9F9F9F; /* Adjust the color as needed */
  margin-top: 20px; /* Adjust the margin as needed */
}

.about-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px */
}

h1 {
  font-family: "Karla", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: black;
  text-align: left;
  margin-bottom: 30px;
  /* font-style: italic;  */
  margin-left: 40px;
}

h2 {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: left;
  /* margin-top: 40px; */
  margin-bottom: 30px;
  margin-left: 40px;
}
h2 mark {
  /* background-color: #DAE2F5; */
  background-color: transparent;
  /* color: blue; */
  border-radius: 6px;
  /* padding: 0px 5px; */
  line-height: 1.3;
  font-weight: bold;
  /* text-decoration: underline; */
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-align: left;
  margin-bottom: 30px;
  margin-left: '40px' 
}
p mark {
  background-color: #DAE2F5;
  color: black;
  border-radius: 6px;
  padding: 0 5px;
  line-height: 1.4;
  font-size: 14px;
}

.about-description ul {
  padding-top: 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 10px));
}

.about-description li {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  color: black;
}

.about-description li::before {
  content: "▸    ";
  position: absolute;
  left: 0;
}

.about-content {
  display: flex;
  flex-direction: row;
}

.about-description {
  font-family: "Rubik", sans-serif;
  color: black;
  max-width: 400px;
  font-size: 22px;
  text-align: justify;
  margin: 0;
  width: 500px;
}

.about-description a,
.about-description b {
  font-size: 21px;
  font-weight: bold;
}

.about-image {
  padding-left: 20px;
  margin-top: -80px;
  border-radius:15px;
  background-image: url('../../public/assets/bluebg.png');
  width:50%;
  margin-bottom: 15px;
  align-items: center;
}

.about-image img {
  margin-top:20px;
  max-width: 300px;
  height: auto;
  /* margin-left: 10px; */
  text-align: center;
  border: none;
}

@media only screen and (max-width: 788px) {
  .about-image img {
    max-width: 200px;
  }
}

.about-image:hover {
  transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
  #about {
    height: unset;
    padding-left: unset;
    padding-right: unset;
    padding-top: 30%;
  }

  .about-description {
    font-size: 18px;
    text-align: justify;
  }

  .about-description a,
  .about-description b {
    font-size: 17px;
  }

  .about-image img {
    display: none;
  }

  .about-content {
    display: unset;
  }
}
