#experience {
  min-height: 360px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
#experience::after {
  content: "";
  display: block;
  width: 98%;
  height: 1px;
  background-color: #9F9F9F; /* Adjust the color as needed */
  margin-top: 20px; /* Adjust the margin as needed */
  margin-bottom: 50px;
}

.experience-container {
  /* margin-left:-10%; */
}

.joblist-job-title {
  font-family: "Karla", sans-serif;
  font-size: 50px;
  font-weight: medium;
  color:white;
}

.joblist-job-company {
  font-family: "Karla", sans-serif;
  font-family: "Karla", sans-serif;
  font-size: 50px;
  color:white;
}

.joblist-duration {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  margin-top: 5px;
  font-weight: bold;
  color:white;
  margin-left: 90px;
}

#vertical-tabpanel {
  margin-top: -20px;
  padding-left: 10px;
  color:white;
  /* width:50%; */
}

.MuiTabs-scrollable {
  overflow-x: scroll;
  scrollbar-width: 100px !important;
}

.MuiTab-wrapper {
  font-size: 16px;
  text-align: left;
  align-items: flex-start !important;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  color:white;
  
}

.MuiButtonBase-root {
  outline: none !important;
  color: black !important;
}

.PrivateTabIndicator-colorSecondary {
  margin-left: initial;
  background-color: #1E1E1E;
}
.jss5 {
  background-color: transparent !important;
}
.makeStyles-tabs-2 {
  border-right: 1px solid var(--lightest-navy) !important;
}
#experience .MuiTab-root {
  padding: 6px 20px;
}
.MuiButtonBase-root:focus {
  color: black !important;
}

ul {
  list-style: none;
  /* margin-left: -40px; */
}

.job-description li::before {
  content: "▸    ";
  position: absolute;
  left: 0;
  
}

.job-description li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 15px;
  color:white;
}

.job-description {
  padding-top: 0px;
  max-width: 650px;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  color:white;
  margin-left: 60px;
}

.job-description a,
.job-description b {
  font-size: 19px;
  font-weight: bold;
  color:white;
}

.MuiBox-root-8 {
  /* margin-left: 10px;
  height: unset !important; */
  width: 93%;
}

.vertical-line-exp {
  border-left: 2px solid #000; /* 1px solid black border on the left side */
  height: 100px;
  margin-top: 0px;
  margin-left: 60px;
}

.card-tech-exp {
  font-family: "Karla", sans-serif;
  color: rgb(240, 240, 240);
  font-size: 14.5px;
  margin-left: 90px;
  font-weight: 300;
  text-align: left;
  color: #D4D4D4;
  /* font-style: italic; */
}

@media only screen and (max-width: 600px) {
  #experience {
    padding-left: unset;
    padding-right: unset;
  }

  .jss1 {
    height: unset !important;
    flex-direction: column !important;
  }

  .makeStyles-root-1 {
    margin-left: 10px;
    height: unset !important;
    width: 90vw;
    flex-direction: column;
  }

  .MuiBox-root-8 {
    margin-left: 10px;
    height: unset !important;
    width: 78vw;
    flex-direction: column;
  }

  .vertical-line-exp {
    border-left: 2px solid #000; /* 1px solid black border on the left side */
    height: 130px;
    margin-top: 0px;
    margin-left: 20px;
  }

  .joblist-duration {
    margin-left: 50px;
  }

  .job-description {
    margin-left: 10px;
  }
  .job-description li {
    font-size: 12px;
    font-weight: 300;
  }

  .card-tech-exp {
    font-size: 12px;
    margin-left: 15px;
    width: 80vw;
  }

  .joblist-job-title {
    font-size: 28px;
  }

  .joblist-job-company {
    font-size: 28px;
  }
}
