#footer {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-image: url('../../public/assets/lightbg.png');
  /* height: 530px; */
  padding-top: 10px;
}

.hr-style {
  height: 5px; /* Adjust the height as needed */
  background-color: #0F0F0F; /* Change to the desired color */
  width: 100%; /* Adjust the width as needed */
}

.last-part {
  background-color: #0F0F0F; /* Change to the desired color */
  background-size: cover;
  background-position: center;
  height: 90vh;
  margin-bottom:-100px;
}

.foot {
  background-color: #EAEAEA; /* Change to the desired color */
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  margin-bottom: -10px;
  padding-bottom: 60px;
  height: 530px;
}

.footer-title {
  font-family: "Karla", monospace;
  font-size: 18px;
  line-height: 1;
}

.footer-text {
  font-family: "Karla", monospace;
  font-size: 18px;
  line-height: 1;
  padding-right: 5vw;
  margin-left: 0;
  width: 40vw;
}
.footer-text p:first-of-type {
  font-family: "Karla";
  font-size: 40px;
  line-height: 1;
  letter-spacing: 3px; /* Adjust the value as needed */
  margin-top: 12%;
  font-weight: 500; 
}
.footer-text p {
  font-family: "Karla";
  color: #1E1E1E;
  font-size: 15px;
  font-weight: 400; 
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: 0.3px; /* Adjust the value as needed */
  margin-top: 5%;
  text-align: left;
}
.footer-text p:nth-of-type(3) {
  padding-top: 28%; /* Adjust the padding value as needed */
}

.links-container {
  width: 13vw;
  display: flex;
  justify-content: space-evenly;
}
a {
  font-family: "Karla", monospace !important;
  font-size: 14px;
  color: #4f4f4f;
  line-height: 1.5; /* Adjust the value to increase the spacing between lines */
}
a:hover {
  color: #242424;
}

.footer-container {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12vw;
  padding-right: 12vw;
  width: 76vw;

}

/* contact card styling */
.connect-section {
  background-color: rgba(255, 255, 255, 0);
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 600px;
  width: 100%;
  
}

.connect-form {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  padding-top: 120px;
  /* padding-left: 20px; */
  /* padding-right: 5vw; */
}

.name-input,
.email-input {
  width: 30vw;
  height: 40px;
  margin-bottom: 20px;
  font-family: "Karla", monospace;
  border-radius: 15px;
  padding-left: 30px;
  color: #1E1E1E;
  background-color: rgba(73, 73, 73, 0.16);
  border: 0px solid black;
  
}
.message-input {
  /* width: 40vw; */
  resize: none;
  color: #1E1E1E;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
  font-family: "Karla", monospace;
  background-color: rgba(73, 73, 73, 0.16);
  border: 0px solid black;
}
.message-div,
.name-div,
.email-div {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-direction: column;
}

.connect-button {
  width: 25%;
  height: 30px;
  border-radius: 12px;
  background-color: rgba(73, 73, 73, 0.268);
  font-family: "Karla", monospace;
  font-weight: medium;
  /* justify-content: right; */
  color: #1E1E1E;
  transition: all 500ms;
  cursor: pointer;
  border: 0px solid #ffffff;
}

.connect-button:hover {
  transform: translateY(-3px);
}

.name-input::placeholder,
.email-input::placeholder,
.message-input::placeholder {
  color: rgba(255, 255, 255, 0.879); /* Change this color to your desired color */
}

.error {
  margin-top: -15px;
  margin-bottom: 5px;
  color: #1E1E1E;
  font-size: 10px;
  text-align: center;
  font-family: "Karla", monospace;
}

.success {
  color: #1E1E1E;
  font-size: 10px;
  text-align: center;
  font-family: "Karla", monospace;
  margin-top: 10px;
  transition: all 500ms;
}

.horizontal-divider {
  margin-top: 40px;
  width: 100% !important;
}


@media (max-width: 850px) {
  .footer-container {
    width: 100%;
    display: block; /* fixes problem with right margins */
  }
}

@media (max-width: 69em) {
  .last-part {
    height: 1100px;
  }
  .connect-section {
    grid-template-columns: 1fr;
    height: 950px;
  }
}

@media (max-width: 500px) {
  .foot {
    height: 87vh;
  }
  .footer-text p:first-of-type {
    margin-top: 50px;
    font-size: 35px;
    margin-left: 50px;
    line-height: 1.2;
  }
  .footer-text p {
    width: 75vw;
    font-size: 13px;
    margin-left: 50px;
    line-height: 1.2;
  }
  .footer-text p:nth-of-type(3) {
    padding-top: 10px; /* Adjust the padding value as needed */
  }
  .footer-text p:nth-of-type(4) {
    position: absolute;
    margin-top: 430px;
    /* bottom: 0; */
    /* margin-bottom: 50px; */
  }

  .footer-container {
    width: 100%;
    display: block;
    /* margin-right: 3%; */
  }
  .horizontal-divider {
    position: absolute;
    margin-top: 380px;
    margin-left: 25px;
    width: 340px !important;
  }
  .footer-text {
    padding-right: 0;
  }
  .connect-form {
    padding: 0;
    margin-left: 23px;
    margin-top: 20px;
  }
  .links-container {
    display: flex;
    position: absolute;
    margin-top: 398px;
    margin-left: 50px;
    justify-content: space-evenly;
    width: 50vw;
    margin-left: 30vw;
  }

  .message-input {
    height: 15vh;
    width: 72vw;
  }
  .email-input {
    width: 80vw;
  }
  .name-input {
    width: 80vw;
  }
}