#nav{
  padding-bottom: -30px;
}

.nav-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  padding-top: 15px;
  padding-bottom: 13px;
  width: 100vw;
  z-index: 9999;
  font-family: Karla;
  font-size: 18px;

  transition: background-color 0.3s;
  backdrop-filter: blur(0.6rem) !important;

  .hide {
    display: none;
  }
}
.nav-container.transparent {
  background-color: transparent;
}
.nav-container.white {
  transition: background-color 0.3s;
  background: linear-gradient(267deg, #FFF 1.53%, #F2F1EE 108.66%);
  /* backdrop-filter: blur(0.2rem) !important; */
}


.home-nav {
  width: 3vw;
  height: 38px;
  margin-left: -15px;
  /* background-color: white; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 18px;
  font-size: 30px;
  font-weight: 700;
  height: 38px;
}
.home-nav.transparent {
  background-color: transparent;
}
.home-nav.white {
  background-color: hsla(0, 0%, 98%, 0.8);
  /* backdrop-filter: blur(0.6rem) !important; */
}
.home-nav.link {
  text-decoration: none;
} 
.home-nav p {
  margin-top: 32px;
  font-family: Karla;
  font-weight: 400;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home-nav p:hover {
  font-weight: bold;
  color: black; 
}
.home-nav li {
  cursor: pointer;
}

.left-nav{
  width: 40vw;
  height: 38px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 18px;
  height: 38px;
  font-size: inherit;
}
.left-nav.transparent {
  background-color: transparent;
}
.left-nav.white {
  background-color: hsla(0, 0%, 98%, 0.8);
  backdrop-filter: blur(0.6rem) !important;
}
.left-nav.link {
  text-decoration: none;
} 
.left-nav p {
  margin-top: 32px;
  font-family: Karla;
  font-weight: 400;
  color: #5A5A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.left-nav p:hover {
  font-weight: 500;
  color: #2E568E; 
  /* transform: translateY(-2px); */
}
.left-nav li {
  cursor: pointer;
}

.right-nav{
  text-align: right;
  width: 57vw;
  border-radius: 18px;
  height: 38px;
  display: flex;
  justify-content: right;
  align-items: center;
  /* transition: background-color 0.3s; */
  font-weight: 400;
}
.right-nav a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-nav.transparent {
  background-color: transparent;
}
.right-nav.white {
  background-color: hsla(0, 0%, 98%, 0.8);
  backdrop-filter: blur(0.1rem);
}
.right-nav.link {
  text-decoration: none;
} 
.right-nav p {
  margin-top: 32px;
  font-family: Karla;
  font-weight: inherit;
  font-weight: 300;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;  /* right */
  cursor: pointer;


  /* border-bottom: '2px solid black'; */
}
.right-nav p:hover {
  text-decoration: underline;
  /* border-bottom: '2px solid black'; */
}
.right-nav.transparent a:hover,
.right-nav.white a:hover {
  color: black !important;
  transform: translateY(-1px);
}
.right-nav a:hover .email {
  color: rgb(172, 73, 73);
}

.right-nav a:hover .github {
  color: rgb(131, 61, 131);
}

.right-nav a:hover .linkedin {
  color: rgb(77, 77, 148);
}



.nav {
  width: 60vw;
  height: 38px;
  /* transition: background-color 0.5s; */
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  /* border: 1px solid black; */
  font-family: Karla;
}
.nav.transparent {
  background-color: transparent;
}
.nav.white {
  background-color: hsla(0, 0%, 100%, 0.593);
  backdrop-filter: blur(0.6rem);
}

ul {
  list-style: none;
}

.icon-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

.icon-navigation li {
  cursor: pointer;
}

.arrow-image {
  transition: all 0.3s; /* Separate the transitions with a comma */
  max-width: 12px; /* Set the maximum width of the image */
}

#icon-navigation:hover .arrow-image {
  max-width: 14px; /* Set the maximum width of the image */
  /* content: url("../../public/assets/arrowBold.svg");  */
}

.primary-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.primary-navigation li {
  width: 150px;
  cursor: pointer;
}

.mobile-nav-toggle {
  display: none;
}



@media (max-width: 69em) {
  .home-nav {
    /* display: none; */
    width: 35px;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 10px;
    position: fixed;
  }
  .home-nav.white {
    background-color: hsla(0, 0%, 98%, 0.25);
    /* background-color: transparent; */
    backdrop-filter: blur(1 rem) !important;
  }
  .home-nav::after {
    display: none;
  }
  .home-nav.transparent::after {
    display: none;
  }
  .left-nav {
    display: none;
  }
  .right-nav {
    display: none;
  }

  .primary-navigation {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: min(25vh, 13rem);
    padding-bottom: min(20vh, 10rem);
    padding-left: 3rem;
    padding-right: 4rem;
    max-width: 10rem;
    margin: 0;
    flex-direction: column;
    z-index: 1000;
    background: hsl(0 0% 100% / 0.2);
    backdrop-filter: blur(0.1rem);
    transition: transform 0.3s ease-out;
    --gap: 20%;
    
    transform: translateX(100%);
  }

  .primary-navigation li {
    width: 180px;
  }

  .primary-navigation li img {
    min-width: 180px;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 4rem;
    aspect-ratio: 1;
    margin: 0;
    right: 3rem;
    z-index: 9999;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    border-radius: 6px;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 14px;
  }

  .mobile-nav-toggle:hover {
    filter: brightness(1.1) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  }

  .primary-navigation.visible {
    transform: translateX(0%);
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    filter: brightness(1.1) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  }
}

@media (max-width: 40em) {
  .logo {
    width: 4rem;
    margin-left: 2.7rem;
    top: 2rem;
  }
}