#projects {
  /* padding-left: 15%;
  padding-right: 18%; */
  min-height: 1015px;  
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding-bottom: 30px;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: black;
  text-align: left;
  /* margin-bottom: 30px; */
  /* margin-left: 40px; */
}
.projects-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(2, minmax(300px, 1fr));
  grid-gap: 10px;
  row-gap: 40px; 
  margin-left:-35px;
}
@media (max-width: 1080px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.projects-card {
  position: relative;
  cursor: default;
  display: flex;
  flex-direction: column;
  /* width:'500px'; */
  /* align-items: flex-start; */
  position: relative;
  height: 100%;
  /* padding-top: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;   */
  padding-bottom: 0.6rem;
  border-radius: 18px;
  /* background-color: rgb(233, 233, 232); */
  /* border: 1px solid black; */
  z-index: 10;
}

.project-container img {
  border-radius: 12px;
  margin-bottom: 0.8rem;
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* border: 1px solid black; */
}

.projects-card:hover {
  transform: translateY(-7px);
  /* background-color: rgb(214, 212, 212); */
  background-color: rgb(233, 233, 232);
}

.card-header {
  margin-top: -15px;
  display: flex;
  padding: 1.25em 0 !important;
  flex-direction: row;
  justify-content: space-between; 
  /* justify-content: center;  */
  /* align-items: center;  */
  /* text-align: center; */
  border-bottom: none !important;
  margin-left: 10px;
}
.folder-icon {
  color: white;
}

.github-icon {
  margin-top: 6px;
  margin-right: 20px;
}
.github-icon:hover {
  color: white;
}

.open-icon {
  margin-left: 10px;
}

.card-title {
  display: flex;
  position: relative;
  font-family: "Karla", sans-serif;
  color: black;
  font-size: 27px;
  font-weight: bold;
  justify-content: center !important;
  margin-left: 10px;
  /* left: 50% !important; */
}

.card-desc {
  font-family: "Karla", sans-serif;
  color: black;
  letter-spacing: 0;
  font-size: 15px;
  padding-bottom: 10px;
  margin-left: 20px;
  /* text-align: center; */
  padding-right: 14px;
}

.card-tech {
  font-family: "Karla", sans-serif;
  color: rgb(240, 240, 240);
  font-size: 14.5px;
  margin-left: 20px;
  font-weight: 300;
  /* text-align: center; */
}

.card-tech mark {
  background-color: rgb(226, 227, 232);
  color: rgb(76, 76, 80);
  border-radius: 5px;
  padding: 0 5px;
}

.github{
  /* left: 30%; */
  margin-top: 5px;
  text-align: right;
  bottom: 11%;
  position: relative;
  height: 0;
}

@media only screen and (max-width: 500px) {
  #projects {
    height: unset;
    padding-left: unset;
    padding-right: unset;
  }
  .project-container {
    display: flex;
    flex-wrap: wrap; /* Add this line to enable wrapping */
    padding-left: 5px;
  }
  p {
    margin-left: 3%;
    width: 95vw;
  }
  .projects-grid {
    display: grid;
    align-items: center;
    width: 95vw;
  }
  .projects-card {
    width:95vw;
  }
  .project-container img {
    /* border-radius: 12px;
    margin-bottom: 0.8rem;
    width: 100%; */
    height: 230px;
    object-fit: cover;
  }
  .github {
    /* margin-top: -45px; */
    margin-right: 20px;
  }
  .card-desc {
    /* margin-top: 40px; */
    margin-right: 0px;
  }
}
